<!DOCTYPE html>
<html>
    <head><title>Chat</title></head>
    <body>
        <div class="container-fluid jumbotron">
            <div class="row bg-primary">
                <div class="videos">
                    <div>
                        <video id="localVideo" autoplay muted playsinline ></video>
                        <!-- <div class="soundbar"><span class="currentVolume"></span></div> -->
                    </div>
                </div>
                
                <br />
                <div id="connections"></div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">            
                    <video  id   ='local'   autoplay muted></video>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">            
                    <video  id   ='remote'  autoplay></video>
                </div>            
            </div>
            <hr>
            <div class="row form-inline">
                    <button id   ="get-access" class="btn btn-primary">Get access to camera</button>
                    <button id   ="call"       class="btn btn-success">Call</button>
            </div>
            <hr>
    


            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 container-fluid">
                    <ul id='msgbox'></ul>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 bg-primary">
                    <p id="count"></p>
                    <ul id='userlist'></ul>
                </div>

            </div>




            <div class="row form-inline">
                <form id='form'>
                        <input class="form-control" id='msg' type="text" placeholder="Enter message">
                        <input class="form-control" type="submit" name='Send'>
                </form>
            </div>
    </div>
    

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src ="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="client/video.js"></script>
        <script src="client/chat.js"></script>
        <script src="client/user.js"></script>

    </body>
</html>